extends layouts/admin-layout

block content
    h4 #{title}
    form(method='POST' action='/admin/add')
        div.form-group
            label Name:
            input.form-control(name='name', type='text')

        div.form-group
            label Age:
            input.form-control(name='age', type='text')
        
        div.form-group
            label Salary:
            input.form-control(name='salary', type='text')

        div.form-group
            label Address:
            input.form-control(name='houseno', type='text')
        
        div.form-row
            div.form-group.col-md-6
                label City:
                input.form-control(name='city', type='text')

            div.form-group.col-md-4
                label State:
                input.form-control(name='state', type='text')

            div.form-group.col-md-2
                label Pincode:
                input.form-control(name='pin', type='text')

        div.form-group
            label Gender:
            select.form-control(name='gender')
                option(value= '') select
                option(value = 'male') Male
                option(value = 'female') Female
        
        div.form-row
            #form-group.col-md-6
                label Department:
                select.form-control(name='dept_name')
                    option(value= '0') Select
                    each dept, i in departments
                        option(value =dept.name)= dept.name

            #form-group.col-md-6
                label Region:
                select.form-control(name='dept_region')
                    option(value= '0') Select
                    each dept, i in departments
                        option(value =dept.region)= dept.region
        br
        input.btn.btn-primary(type='submit', value='submit')
