doctype
html
  head
    title employee management
    link(rel='stylesheet' href="/assets/bootstrap/dist/css/bootstrap.css") 
    link(rel='stylesheet' href="/assets/main.css") 
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='#') EMS Admin
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/admin/add') Add
          li.nav-item
            a.nav-link(href='/admin/viewall') View
          li.nav-item
            a.nav-link(href='/admin/search') Search 
          // li.nav-item.dropdown
              a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
              .dropdown-menu(aria-labelledby='dropdown01')
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
 
    .container.app-custom-container
      != messages('message', locals)
      if errors
        each error , i in errors
          div.alert.alert-danger #{error.msg}
      block content
      br
      hr
      footer(class="footer mt-auto py-3")
        div(class="container")
            p(class="text-muted") copyright &copy; 2019
    script(src='/assets/jquery/dist/jquery.min.js')
    script(src='/assets/bootstrap/dist/js/bootstrap.min.js')
    script(src='/assets/main.js')


