extends layouts/login-layout

block content
    form.form-signin(method='POST' action='/users/login')
        img.mb-4(src='../assets/img/bootstrap-solid.svg', alt='', width='72', height='72')
        h1.h3.mb-3.font-weight-normal Please sign in
        label.sr-only(for='inputEmail') Email address
        input#inputEmail.form-control(name='username', type='text', placeholder='User Name', required='', autofocus='')
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(name='password', type='password', placeholder='Password', required='')
        .checkbox.mb-3
            label
            input(type='checkbox', value='remember-me')
            |  Remember me
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        