.app-custom-container {
    padding-top: 50px; 
}
.app-emp-name {
    text-transform: capitalize;
    color: rebeccapurple;
}
.app-delete-btn {
    margin-left: 10px;
}
.app-back-btn {
    float: right;
}
.search-list {
    display: flex;
}
.card-img-top {
    width: 96px;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success_msg {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}